.history-wrapper {
    background-color: #f6f6f6;
    width: 100%;
}

.aboutgrotto {
    text-align: center;
}

h2 {
    text-transform: capitalize;
    font-family: "EB Garamond", Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 10px;
    text-decoration: overline underline;
}

p {
    margin-left: 10rem;
    width: 75%;
    font-family: "Lato", sans-serif;
    padding: 5px;
    font-size: 18px;
    line-height: 1.6;
}

.sabu {
    color: goldenrod;
    font-style: italic;
    font-weight: bold;
    font-size: 23px;
}