.wrapper-men-shirt1 {
    position: relative;
}

.wrapper-men-shirt1 img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.buttonprevious {
    position: absolute;
    top: 50%;
    left: 2%;
    height: 30px;
    width: 24px;
    background: transparent;
    visibility: hidden;
}

.buttonnext {
    position: absolute;
    top: 50%;
    right: 2%;
    height: 30px;
    width: 24px;
    background: transparent;
    visibility: hidden;
}

.buttonnext:hover,
.buttonprevious:hover {
    color: black;
}

.buttonnext:focus,
.buttonprevious:focus {
    outline: 0;
}

.dotgroup {
    position: absolute;
    left: 50%;
    top: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: transparent;
}

.dotgroup button {
    background: rgb(231, 226, 226);
    height: 5px;
    width: 80px;
    border: none;
    margin: 0px 1px;
}

.carousel__dot--selected {
    background-color: rgb(124, 128, 126) !important;
}