.footer-wrapper {
    background-color: grey;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 17px;
}

.footer-container {
    display: block;
    padding: 1rem;
}

.footer-socials a {
    text-align: center;
    font-size: 50px;
    margin: 0.5rem;
    padding: 4px;
    width: 53px;
    text-decoration: none;
}

.fa-twitter {
    background: #55acee;
    color: white;
    border-radius: 50%;
}

.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 50%;
}

.fa-facebook {
    background: #3b5998;
    color: white;
    border-radius: 50%;
}

.fa-twitter:hover {
    opacity: 0.5;
}

.fa-instagram:hover {
    opacity: 0.5;
}

.fa-facebook:hover {
    opacity: 0.5;
}

.footer-address {
    font-family: "Play", sans-serif;
    font-size: 18px;
    color: whitesmoke;
}

.footer-copyright {
    font-size: 17px;
    font-family: "Play", sans-serif;
    color: whitesmoke;
}

.grottospan {
    font-style: italic;
}