.hoursinfo-wrapper {
    background-color: #f6f6f6;
}

.reservation {
    padding: 1rem;
}

.reserve {
    background-color: orangered;
    margin-left: 40%;
    width: 15rem;
    height: 4rem;
    border-radius: 1.5rem;
    text-transform: capitalize;
}

.reserve a {
    text-decoration: underline;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.reserve a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.giftcard {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
}

.giftlink:hover {
    opacity: 0.75;
}

.hours {
    width: 94%;
    justify-content: center;
}

.outdoor_eating {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-left: 4rem;
    text-transform: capitalize;
    line-height: 35px;
    color: goldenrod;
    font-size: 25px;
}

.openclose {
    width: 25%;
    font-family: "Roboto", sans-serif;
    margin-left: 40%;
}

strong {
    color: #707070;
    font-size: 18px;
}

.locationphone {
    padding: 10px;
    display: flex;
}

.location {
    margin-left: 10%;
}

.phone {
    margin-left: 10%;
}

.location h3 {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: goldenrod;
    text-decoration: underline;
}

.location p {
    color: #707070;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

.phone h3 {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: goldenrod;
    text-decoration: underline;
}

.phone a {
    color: #707070;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    font-size: 17px;
}