nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    top: 0;
}

.navbar_main {
    height: 150px;
    background-image: url(../../../assets/wharf.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.logo {
    text-align: left;
    /* border: 1px solid black; */
    width: 20%;
}

.grottologo {
    width: 69%;
    /* border: 2px solid blue; */
    transform: rotate(-12deg);
    margin-top: 8%;
}

.navbar {
    display: flex;
    width: 30%;
    /* border: 1px solid red; */
    text-align: center;
    margin-left: 30%;
    /* margin-bottom: 6%; */
}

#menu {
    margin: 1px;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
}

#about {
    margin: 1px;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
}

#contact {
    margin: 1px;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
}

#menu:hover {
    color: orange;
}

#about:hover {
    color: orange;
}

#chowda:hover {
    color: orange;
}

#contact:hover {
    color: orange;
}